<div class="row">
    <div class="col s12 m4 offset-m4">
        <div class="login-form z-depth-3">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs" id="login-tabs">
                        <li class="tab col s3"><a href="#login">Login</a></li>
                        <li class="tab col s3"><a class="active" href="#signup">Sign Up</a></li>
                    </ul>
                </div>
                <div class="col s12">
                    <div id="login">
                        <form action="" method="POST">
                            <div class="row">
                                <div class="input-field col s8 offset-s2">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="icon_username" type="text" name="username" required class="validate"
                                        value="{{username}}">
                                    <label for="icon_username">Username</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s8 offset-s2">
                                    <i class="material-icons prefix">vpn_key</i>
                                    <input id="icon_password" type="password" required class="validate" name="password">
                                    <label for="icon_password">Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6 offset-s3 center-align">
                                    <input type="hidden" value="login" name="action">

                                    <button class="btn waves-effect waves-light" type="submit">Login
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="signup" class="col s12">
                <form action="" method="post">
                    <div class="row">
                        <div class="input-field col s8 offset-s2">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_register_username" type="text" class="validate" required name="username" value="{{username}}" minlength="4"> 
                            <label for="icon_register_username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8 offset-s2">
                            <i class="material-icons prefix">vpn_key</i>
                            <input id="icon_register_password" type="password" class="validate" required name="password" minlength="8">
                            <label for="icon_register_password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8 offset-s2">
                            <i class="material-icons prefix">vpn_key</i>
                            <input id="icon_register_confirm_password" type="password" class="validate" required name="cfmPassword">
                            <label for="icon_register_confirm_password">Confirm Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8 offset-s2">
                            <i class="material-icons prefix">email</i>
                            <input id="icon_register_email" type="email" class="validate" required name="email" value="{{email}}">
                            <label for="icon_register_email">Email Address</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s8 offset-s2">
                            <i class="material-icons prefix">email</i>
                            <input id="icon_register_confirm_email" type="email" class="validate" required name="cfmEmail" value="{{cfmEmail}}">
                            <label for="icon_register_confirm_email">Confirm Email Address</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6 offset-s3 center-align">
                            <input type="hidden" value="register" name="action">
                            <button class="btn waves-effect waves-light" type="submit">Sign Up
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>