{% extends "base.html" %}

{% block content %}
<div class="row">
    <form action="{% url 'request' %}" method="POST">
        {% csrf_token %}
        <div class="col s4 offset-s5">
            <div class="row">
                <div class="input-field col s6">
                    <input id="title" type="text" name="title" class="validate">
                    <label for="title">Title</label>
                </div>
            </div>

            <div class="row">

                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea" name="description"></textarea>
                    <label for="textarea1">Description</label>
                </div>
            </div>


            <div class="row">

                <div class="drawType">
                    <h4>Draw Type</h4>

                    <div class="row">
                        <div class="input-field col s4">
                            <label>
                                <input name="draw_type" type="radio" value="drawn">
                                <span>Hand Drawn</span>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s4">
                            <label>
                                <input name="draw_type" type="radio" value="digital">
                                <span>Digital</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="colour">
                    <h4>Colour</h4>

                    <div class="row">
                        <div class="input-field col s4">
                            <label>
                                <input name="colour" type="radio" value="colour">
                                <span>Colour</span>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s4">
                            <label>
                                <input name="colour" type="radio" value="monochrome">
                                <span>Monochrome</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="backing">
                    <h4>Backing</h4>

                    <div class="row">
                        <div class="input-field col s4">
                            <label>
                                <input name="backing" type="radio" value="canvas">
                                <span>Canvas</span>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s4">
                            <label>
                                <input name="backing" type="radio" value="framed">
                                <span>Framed</span>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s4">
                            <label>
                                <input name="backing" type="radio" value="without">
                                <span>Without</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="files">
                    <h4>Files</h4>

                    <div class="row">
                        <div class="input-field col s4">
                            <label>
                                <input name="files" type="radio" value="included">
                                <span>Original Files Included</span>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s4">
                            <label>
                                <input name="files" type="radio" value="sketches">
                                <span>Sketches</span>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s4">
                            <label>
                                <input name="files" type="radio" value="without">
                                <span>Without</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <button class="black btn waves-effect waves-light submit-button" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}