nav * {
    color: black !important;
}

#login-form {
    width: 65%;
    margin: auto;
}

/* Request styling */

.drawType h4, .colour h4, .backing h4, .files h4, .submit-button {
    margin: 3rem auto 0 auto;
}


.timestamp {
    color: #999;
}

.user {
    font-weight: bold;
}

.current_user {
    color: green;
}

.other_user {
    color: blue;
}

.status_error {
    color: red;
    font-weight: bold;
}

.status_warning {
    color: orange;
    font-weight: bold;
}

.status_success {
    color: green;
    font-weight: bold;
}


.decline {
    background: red;
}

/* end */