<a id="logo-container" href="#" class="brand-logo">Logo</a>
<ul class="right hide-on-med-and-down transparent">

    <li><a href="/gallery">See my work!</a></li>
    {% if user.is_authenticated %}
        
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">{{user}}<i class="material-icons right">arrow_drop_down</i></a></li>
    {% else %}
    <li><a href="/login">Login </a></li>
    <li><a href="/signup">Sign up</a></li>
    {% endif %}
</ul>

<ul id="dropdown1" class="dropdown-content">
    {% if not user.is_superuser %}
    <li><a href="{% url 'requests_mine' %}">Your requests</a></li>

    
    <li><a href="{% url 'request' %}">Submit Request</a></li>

    {% else %}
        <li><a href="{% url 'requests_all' %}">View all requests</a></li>
    {% endif %}
    <li class="divider"></li>
    <li><a href="{% url 'logout' %}">Log Out</a></li>
</ul>