<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>{{ request.site.name }}</title>


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="/static/style.css" type="text/css" rel="stylesheet" media="screen,projection">


</head>

<body>
    <nav class="transparent" role="navigation">
        <div class="nav-wrapper container">
            {% include 'includes/desktop-nav.html' %}
            {% include 'includes/mobile-nav.html' %}
            
        </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container-fluid">
        </div>
    </div>
    <div class="container">
        {% block content%}
        {% endblock %}
    </div>


    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    {% block custom_javascript %}
    {% endblock %}
    <script src="/static/init.js"></script>
   

</body>

</html>